
@media (max-width: 480px) {
  form {
    margin: 15px;
  }
}

body {
  font-family: Arial, sans-serif;
  background-image: url(/sources/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

form {
  max-width: 420px;
  margin: 60px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

select, button {
  width: 100%;
  padding: 9px;
  margin-top: 5px;
}

input, select {
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  background: #1f114f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #003f88;
}
